
    .oc-button__wrapper {
        position: relative !important;
        width: 100% !important;
        height: 62px !important;
        font-family: Helvetica, Arial, sans-serif  !important;
        background-color: #075e54 !important;
        z-index: 10;
    }

    .oc-button__content {
        position: absolute !important;
        bottom: 0 !important;
        left: 0 !important;
        width: 100% !important;
        background: #075e54 url(../img/omni/bg.jpg) center top !important;
        background-size: cover !important;
    }

    .oc-button--open .oc-button__content {
        box-shadow: 0 0 2px black !important;
    }

    .oc-button__header {
        position: relative;
        height: 62px;
        color: white;
        cursor: pointer;
        line-height: 1.2 !important;
    }

    .oc-button__header span {
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 140px;
        padding-left: 45px;
        margin: -18px 0 0 -70px;
        font-size: 12px;
    }

    .oc-button__header span strong {
        font-size: 18px;
    }
    
    .oc-button__header span i {
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        margin-top: -18px;
        width: 36px;
        height: 36px;
        background: transparent url(../img/omni/logo.png) center center;
        background-size: 100%;
    }

    .oc-button__form {
        box-sizing: border-box !important;
        padding: 0 10px !important;
        margin: 0 auto !important;
        max-width: 250px !important;
        height: 0 !important;
        transition: height 0.3s !important;
        overflow: hidden !important;
        font-size: 11px !important;
    }
    

    .oc-button--open .oc-button__form {
        height: 130px !important;
    }

    .oc-button__form-inputs {
        height: 100px !important;
    }
    
    .oc-button__input {
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none; 
        display: block;
        padding: 2px 5px !important;
        margin-top: 5px !important;
        width: 100% !important;
        height: 26px !important;
        border-radius: 2px;
        border: 1px solid #cdcdcd;
        background-color: white !important;
        color: gray !important;
    }

    .oc-button__input:focus {
        outline: none;
        box-shadow: 0 0 2px #ccc;
    }
    
    .oc-button__input:focus::-webkit-input-placeholder {
    	color: #A9A9A9 !important;
	}
	
	.oc-button__input:focus::-moz-placeholder {
    	color: #A9A9A9 !important;
	}
	
	.oc-button__input:focus::-ms-input-placeholder {
    	color: #A9A9A9 !important;
	}


    .oc-button__input.oc--error {
        box-shadow: 0 0 3px 1px red;
    }

    .oc-button__button {
        box-sizing: border-box !important;
        -webkit-appearance: none !important;
        -moz-appearance: none !important;
        appearance: none !important;
        margin-top: 9px !important;
        width: 100% !important;
        height: 26px !important;
        border-radius: 2px !important;
        border: none !important;
        background: #128c7e !important;
        font-weight: bold !important;
        text-shadow: -1px -1px 0 #075e54  !important;
        transition: background 0.1s linear !important;
        color: white !important;
        padding: 2px 6px 3px 6px !important;
    }

    .oc-button__button:focus {
        outline: none;
        box-shadow: 0 0 2px #ccc;
    }

    .oc-button__button:active {
        background: #075e54;
    }

    .oc-button__form-response {
        box-sizing: border-box;
        padding-top: 5px;
        height: 100px;
        text-align: center;
        color: white;
    }

    .oc-button__form-response p {
        font-size: 12px;
        line-height: 1.46;
        margin: 0 0 10px;
    }

    .oc-button__form-response p:last-child {
        margin-bottom: 0;
    }

    .oc-button__form-response i {
        display: inline-block;
        margin: 2px 2px 0;
        width: 15px;
        height: 15px;
        background: transparent url(../img/omni/emoji.png) center center;
        background-size: 100%;
    }

    .oc-button__signature {
        display: block;
        margin-top: 8px;
        width: 100%;
        font-size: 10px;
        text-align: center;
        color: #ddd;
    }