@import "_variable.scss";

@media(max-width: 480px){
	section.custom-slider {
	    padding-top: 20%;
	}
}

tr.shipping form.woocommerce-shipping-calculator {
    display: none;
}

* {
	font-family: $source;
	letter-spacing: 0.04em;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

.woocommerce-pagination{
	float: right;
	ul{
		li{
			list-style: none;
			display: inline;
			span{
				&.page-numbers.dots{
					padding: 2px 9px;
					background-color: $blue;
					border-radius: 4px;						
					color: $white;

					&:hover{
						background-color: $black;
						transition: all 0.7s ease;
					}					
				}
				&.page-numbers.current{
					padding: 2px 9px;
					background-color: $black;
					border-radius: 4px;						
					color: $white;
				}
			}

			a{
				padding: 2px 9px;
				background-color: $blue;
				border-radius: 4px;				
				color: $white;

				&:hover{
					background-color: $black;
					transition: all 0.7s ease;
				}				
			}
		}
	}
}

.hidden{
	visibility: hidden;
}

*:focus {
	outline: none;
}

.register{
	padding: 35px 20px !important;
}

h2.title {
	.container{
		text-align: left;
		font-family: $source;
		margin-bottom: 0;
		margin-top: 0;
	}	
	&.margin{
		margin: 1% 0;
	}
	&.frete{
		.container{
			text-align: center;
		}		
	}
    background: $black;
    padding: 1%;        
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    margin: 0px;
    line-height: 28px;
    @media(max-width:767px){
        font-size: 28px;
    }
}

a{
	color: $white;
	transition: all 0.5s;
	&:hover{
		color: #fff;
		text-decoration: none;
	}
}

	#tamanho-mobile
	{
		display: none !important;
	}

@media screen and (max-width: 990px)
{
	#tamanho-desk
	{
		display: none !important;
	}

	#tamanho-mobile
	{
		display: block !important;
	}

}

/* -------------- LOGIN ---------------*/

.title
{
	font-family: 'Oswald', sans-serif;
}

.perguntas-frequentes
{
	.col-sm-5.col-categorias
	{
		ul
		{
			.active
			{
				a
				{
					color: $black !important;
				}
			}
		}
	}
}

.woocommerce {

	.woocommerce-MyAccount-content {
	    width: 75% !important;
	}	

	form
	{
		border-color: #000;
		p
		{
			input
			{
				border-top: none;
				border-right: none;
				border-left: none;
				border-color: #000;
				border-width: 1px;					
			}

			input.woocommerce-Button.button
			{
				width: initial;
				background: #222;
				color: #fff;
				border-style: none;
				box-shadow: none;
				font-size: 15px;
				padding: 10px 25px;	
				margin-right: 2%;				
			}
		}		
	}

	.woocommerce-MyAccount-navigation
	{
		border: 1px solid #a3a2a2;
		padding: 1%;
		border-radius: 5px;
		width: 20%;

		ul
		{
			li
			{
				list-style: none;
				padding-bottom: 2%;
				a
				{
					&:hover
					{
						border-bottom: 1px solid #000;							
					}								
				}				
			}
		}
	}
}

/* -------------- LOGIN ---------------*/

#all{
	width: 100%;
	background-color: #fff;
	.cont{
		background: #fff;
		padding: 0;
		width: 100%;
		#content {
			position: relative;
			margin-bottom: 20px;
		}
	}
	
	.wysija-paragraph{
		position: relative;
	}

	label{
		position: relative;
	}
	.formError{
		left: 0 !important;
		top: 100% !important;
	}
}

#nav-bar {
	background: #f6f6f6;
	font-size: 12px;
	padding: 15px 70px;
	text-transform: uppercase;
	word-spacing: 6px;
	p {
		color: #a3a2a2;
		margin: 0;
		span {
			font-family: $source;
			color: $black;
		}
		i {
			font-size: 15px;
			color: #a3a2a2;
		}
	}
	@media(max-width:991px){
		padding: 15px 10px;
		p {
			span {
				margin-left: -7px;
			}
		}
	}
	@media(max-width:992px){
		padding: 15px 18px;
	}  
}

.nav>li>a:focus, .nav>li>a:hover {
	text-decoration: none;
	background: transparent;
}

.div-border {
	background: #fff;
	height: 20px;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 100;
}

.page-default{
	padding: 50px 0;
	h1.title{
		color: $black;
		font-size: 60px;
		text-align: center;
		margin: 0 0 40px;
	}
	.content-default *{
		color: #333;
		font-family: $source;
	}
}

.no-results{
	.page-header {
		padding-bottom: 0;
		margin: 0 0 20px;
		border-bottom: none;
	}

	h1.page-title{
		color: $black;
		font-size: 30px;
		margin: 0;
		text-transform: uppercase;
	}

	.page-content{
		p{
			font-family: $source;
			font-size: 16px;
			font-weight: 400;
			margin: 0 0 30px;
		}
		form{
			label{
				display: block;
				font-family: $source;
				font-size: 16px;
				font-weight: bold;
				text-transform: uppercase;
			}
			input#s,
			input#searchsubmit{
				color: #000;
				height: 40px;
				border: 1px solid #000;
				border-radius: 5px;
				line-height: 40px;
				padding: 0 10px;
			}
			input#s{
				width: 50%;
			}
			input#searchsubmit{
				background: #000;
				color: #fff;
				text-transform: uppercase;
			}
		}
	}
}


.relatorio{
	margin: 2% 0;
	.container{
		.row{
			&:last-child{
				margin: 2% 0 0 0;

				table{
					tr{
						td{

						}
					}
				}
			}
			.buttons-html5{
				background-color: $blue !important;
				border: none;
				&:hover{
					background-color: $red;
				}
			}

			.dataTables_filter{
				input{
					color: $black;
					border: 1px solid $blue;
					border-radius: 4px;
					width: 300px;
					padding: 0 2%;
				}
			}
			.nav{
				li{
					a{
						color: $black;
					}
				}
			}
		}
	}
}