body{
	&.internas{
		.container{
			padding: 0 15px;
		}
		#all{
			.cont{
				#content{
					.page-default{
						.title{
							padding: 0 6%;
						}
						.woocommerce{
							.container{
								.row{
									width: 100%;
									margin: 0 auto;
									div{
										@media(max-width: 768px){
											width: 100%;
										}
										a{
											width: 100%;
											text-align: center;
										}
										&:last-child{
											a{
												margin-top: 4%;
											}
										}
									}
								}
							}
							.woocommerce-cart-form{

							}
							.cart-collaterals{
								.container{
									.row{
										.col-lg-6{
											.woocommerce-shipping-calculator{
												.shipping-calculator-form{
													display: block !important;
												}
											}
										}
										.col-lg-4{
											.cart_totals.calculated_shipping{
												table.shop_table.shop_table_responsive{
													form.woocommerce-shipping-calculator{
														display: none !important;
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

@media(max-width: 480px){
	.single-produto{
		h2.title{
			font-size: 24px;
		}
		 #all{
			.cont{
				#content{
					#container{
						#content{
							.section-produtos{
								.sobre_o_produto{
									.container{
										.description{
											ul{
												li{
													width: 100%;
													text-align: center;
													&.active{
														border-bottom: 1px solid $grey;
													}
												}
											}
										}
									}
								}
							}
							.call_to_action_product, .fechar_woo_action{
								display: none !important;
							}							
						}
					}
				}
			}
		 }		
	}

}