/* ​* *​ *​ *​ *​ *​ *​ *​ h* ​* */
/*​                      ​*/
/*​   Category Search    ​*/
/*​                      ​*/
/*​ ​* *​ *​ *​ *​ *​ *​ *​ h* * */

#category,
#search {
	h1.title-page {
		color: $black;
		font-size: 36px;
		font-weight: 600;
		margin: 40px 0px;
		text-align: center;
		text-transform: uppercase;
	}
}