/* ​* *​ *​ *​ * ​* */
/*​             ​*/
/*​   Footer    ​*/
/*​             ​*/
/*​ ​* *​ *​ *​ * * */

.informacoes_footer{
	padding: 2% 0;
	border-top: 1px solid;
	border-color: $grey;
	.container{
		.row{
			div{
				&:first-child{
					border-right: 1px solid;
					border-color: $grey;
					.row{
						width: 100%;
						margin: 0 auto;

						&.credito{
							padding-bottom: 15px;
							border-bottom: 1px solid;
							border-color: $grey;
							@media(max-width: 768px){
								width: 46%;
								float: left;
								padding: 0;
								margin: 0 2%;
							}									
							figure{
								img{
									@media(max-width: 992px){
										width: 100%;
									}								
								}
							}							
						}

						&.pagamento{
							padding-top: 15px;
							@media(max-width: 768px){
								width: 46%;
								float: left;
								padding: 0;
								margin: 0 2%;
							}									
							figure{
								img{
									@media(max-width: 992px){
										width: 100%;
									}								
								}
							}							
						}
					}
				}

				&:nth-child(2){
					@media(max-width: 768px){
						float: left;
						width: 32%;						
					}
					@media(max-width: 480px){
						float: none;
						width: 80%;
						margin: 10% auto 0 auto;
						.row{
							border: none !important;
						}
					}					
					text-align: center;
					.row{
						&.title{
							border-bottom: 1px solid;
							width: 100%;
							margin-right: 5px;
							border-color: $grey;
							padding: 0px 37% 15px;
							margin: 0 auto;
							@media(max-width: 1200px){
								padding: 0px 34% 15px;
							}
							@media(max-width: 1200px){
								padding: 0px 28% 15px;
							}								

							i{
								font-size: 30pt;
								float: left;
							}
							p{
								float: right;
								width: 64%;
								font-weight: 600;
								text-align: left;
								margin: 0 auto;
							}							
						}
						&.certificados{
							padding-top: 15px;
							border-right: 1px solid;
							border-color: $grey;
							width: 100%;
							margin: 0 auto;
							figure{
								img{
									@media(max-width: 1200px){
										width: 90%;
										margin-right: 14px;
									}
								}
							}
						}
					}
				}
				&:last-child{
					@media(max-width: 768px){
						float: left;
						width: 24%;
					}
					@media(max-width: 480px){
						float: none;
						width: 100%;
						margin-top: 4%;
						margin-bottom: 2%;
					}					
					.row{
						width: 100%;
						margin: 0 auto;
						border-right: none;
						text-align: center;

						&.atendimento{
							font-size: 8pt;
							border-bottom: 1px solid;
							border-color: $grey;
							p{
								&:nth-child(2){
									font-size:11pt;
								}
							}
						}
						&.sociais{
							a{
								background-color: $none;
								padding: 0;
								cursor: pointer;

								i{						
									background-color: $grey;
									color: $grey3;	
									font-size: 22px;
									border-radius: 3px;
									margin: 0 4%;
									margin-top: 15px;

									&.fa-whatsapp{
										padding: 4px;								
									}

									&.fa-facebook{								
										padding: 4px 8px;									
									}
									&.fa-skype{								
										padding: 4px;										
									}
									&.fa-google-plus{								
										padding: 8px 4px 7px 4px;
										font-size: 18px;
									}

									&:hover{
										color: $white;
										transition: all 0.7s ease-in-out;
										&.fa-whatsapp{
											background-color: $whats;
											padding: 4px;								
										}

										&.fa-facebook{
											background-color: $face;									
											padding: 4px 8px;									
										}
										&.fa-skype{
											background-color: $skype;									
											padding: 4px;										
										}
										&.fa-google-plus{
											background-color: $googlePlus;									
											padding: 8px 4px 7px 4px;
											font-size: 18px;
										}									
									}
								}								
							}
						}
					}
				}
			}
		}
	}
}

footer {
	background-color: $black;
	padding-bottom: 10px; 
	padding-top: 0;

	.container{
		.footer_topo{
			@media(max-width: 768px){
				width: 100%;
				margin: 0 auto;
			}
			h5{
				color: $white;
			}
			a{
				color: $white;
				opacity: 0.7;
				&:hover{
					text-decoration: underline;
				}
			}
			div{
				padding-top: 2%;
				&.no_padding_right{
					padding-right: 0;
				}

				&.no_padding_left{
					padding-left: 0;
				}

				&.novidades{
					padding: 2% 3% 1% 3%;
					background-color: $grey4;

					div{
						h5{
							font-size: 16pt;
						}
						i{
							color: $white;
							font-size: 28pt;
						}
						form{
							p{
								margin-bottom: 0;
								input{
									width: 100%;
									padding: 3% 4%;
									border-radius: 4px;
									border-color: $none;
								}
							}
						}
					}
				}
				@media(max-width: 480px){
					width: 100% !important;
					&:nth-child(1){
						div{
							float: none !important;
						}
					}					
					&:nth-child(3){
						margin: 2% 0;
					}
					&.novidades{
						padding: 5%;
						margin-bottom: 5%;
					}
				}
				@media(max-width: 768px){
					&:nth-child(1){
						width: 72%;
						text-align: center;

						div{
							width: 48%;
							float: left;
						}
					}
					&:nth-child(2){
						width: 25%;
						text-align: center;

						div{
							width: 48%;
							float: left;
						}
					}
					&:nth-child(3){
						width: 50%;
						float: left;
						text-align: center;
					}

					&:nth-child(4){
						width: 30%;
						float: left;
						div
						{
							width: 100%;
						}
					}				
				}
			}
		}
	}
	.bottom_footer{
		background-color: $white;
		padding: 0.5% 14% 0.5% 14%;
		.container{
			width: 100%;
			p{
				text-align: center;
				font-size: 9pt;
				margin-bottom: 0;
				width: 100%;
			}
		}
	}
}

@media screen and (max-width: 990px)
{
	#footer
	{
		#col-1, #col-2, #col-3
		{
			display: none !important;
		}

		#col-4
		{
			.textwidget
			{
				p
				{
					display: none;
				}
			}
		}
	}
}