@import "_variable.scss";

body{
	position: relative !important;
	&.internas{
		#all{
			.cont{
				header{
					.menu_header{
						background-color: $blue;
					}
				}
			}
		}
	}	
	#all{
		.cont{			
			.scrolTop{
				visibility: hidden;
				opacity: 0;
				transition: all 0.7s ease-in-out;
				position: fixed;
				right: 25px;
				bottom: 80px;
				width: 38px;
				height: 38px;
				border-radius: 50%;
				background-color: $blue;
				cursor: pointer;
				&:hover{
					background-color: $black;
					transition: all .5s ease-in-out;
				}
				div{
					width: 100%;
					height: 100%;
				}				
				i{
					color: $white;
				    font-size: 20px;
				    position: absolute;
				    left: 33%;
				    top: 18%;
				}
			}

			.menu_header{
				.menu_superior{							
					.container{
						.row{
							div{
								&.boleto{
									padding-top: 0.3% !important;
									padding: 0;
									p{
										text-align: right;
									}
								}
							}
						}
					}
					.opcoes_superior{
						a{
							color: $black;
							&:hover{
								text-decoration: underline;
							}
						}
					}
				}
				.menu_normal{
					background-color: $black;
					#menu_inferior{
						height: auto;
						.container{
							.row{
								div{
									margin-bottom: 1%;
									.align_opcoes{
										.opcoes_inferior{
											.menu-vuelo-menu-container{
												ul{
													li{
														a{
															color: $black;
														}
													}
												}
											}
										}
									}									
								}								
							}
						}
					}
				}
			}
		}
	}
	&.menu-fix{	
		.scrolTop{
			visibility: visible !important;
			opacity: 1 !important;
			transition: all 0.7s ease-in-out;
			z-index: 9999;
		}
		.menu_header {
			position: fixed !important;
			width: 100% !important;
		}
		#singlepost{
			padding-top: 140px;
		}
		.header-menu{
			position: fixed !important;
			left: 0 !important;
			top: 30% !important;
			.relative{
				.custom-menu{
					width: 16% !important;
					.container{
                        width: 100% !important;
                        float: left !important;

						.row{
							&.active{
								transform: translateX(-7px) !important;
							}
						}                        	
						.button{
							background-color: $none !important;
							height: 41px !important;
							width: 4.4% !important;
							padding: 0 !important;
							&:hover{
								background-color: $dourado !important;
								transition: all 0.7s ease !important;
							}
							.button-responsive{
							    height: 41px !important;
							    width: 44px !important;	
							    background-color: $black !important;	
							    padding: 0 3px 5px 0 !important;
								&.active{
									svg{
										&:nth-of-type(1){
											top: 8px;
											transform: rotate(44deg);
										}
										&:nth-of-type(2) path{
											fill: transparent !important; 
										}
										&:nth-of-type(3){
											  top: -6px;
											  transform: rotate(-44deg);
										}
									}
								}							    
							    .compre{
							    	display: none !important;
							    }					    				
								svg{
									path{
										fill: $white !important;
									}
								}
							}
						}					
					}					
				}
			}			
		}
		.face-action{
		    display: block;
		    visibility: visible;
		    position: fixed;
		    transform: translateX(0);
		    top: 35%;
		    z-index: 9999;
		    width: 44px;
		    margin-top: 4px;
		    background-color: $face;
		    cursor: pointer;
			@media(max-width: 768px){
				display: none !important;
			}

			&:hover{
				background-color: $black;
				transition: all 0.7s ease;
			}		    
			.row{
				width: 100% !important;
				margin: 0 !important;
			    div{
			    	padding: 12% 0% 5% 24% !important;
					i{
						font-size: 32px !important;
						color: $white !important;						
					}
			    }								
			}
		}

		.whats-action{
		    position: fixed;
		    display: block;
		    visibility: visible;
		    transform: translateX(-126px);
		    top: 40%;
		    z-index: 9999;
		    width: 170px;
		    margin-top: 5px;
		    background-color: $whats;
		    cursor: pointer;
		    transition: all 0.5s ease-in-out;
			@media(max-width: 768px){
				display: none !important;
			}			
		    &.active{
		    	transform: translateX(0) !important;
		    	transition: all 0.5s ease-in-out !important;
		    }
			&:hover{
				background-color: $black !important;
				transition: all 0.5s ease !important;
			}		    
			.row{
				width: 100% !important;
				margin: 0 !important;
			    div{
				    height: 40px !important;

				    &.first{
				    	float: left !important;
				    	padding: 6% 0 !important;
				    	padding-left: 5% !important;
				    	color: $white !important;
				    }
				    &.last{
				    	float: right;
				    	padding-top: 2.5% !important;
				    	padding-right: 5% !important;
				    	padding-left: 5% !important;
				    	border-left: 1px solid $white !important;
				    }				    
					i{
						font-size: 32px !important;
						color: $white !important;
					}
			    }								
			}
		}

		.skype-action{
		    position: fixed;
		    display: block;
		    visibility: visible;
		    transform: translateX(-205px);
		    top: 45.3%;
		    z-index: 9999;
		    width: 250px;
		    margin-top: 5px;
		    background-color: $skype;
		    cursor: pointer;
		    transition: all 0.5s ease-in-out;

			@media(max-width: 768px){
				display: none !important;			
			}			
		    &.active{
		    	transform: translateX(0) !important;
		    	transition: all 0.5s ease-in-out !important;
		    }
			&:hover{
				background-color: $black !important;
				transition: all 0.5s ease !important;
			}		    
			.row{
				width: 100% !important;
				margin: 0 !important;
			    div{
				    height: 40px !important;

				    &.first{
				    	float: left !important;
				    	padding: 4% 0 !important;
				    	padding-left: 4% !important;
				    	color: $white !important;
				    }
				    &.last{
				    	float: right;
				    	padding-top: 2.5% !important;
				    	padding-right: 4% !important;
				    	padding-left: 5% !important;
				    	border-left: 1px solid $white !important;
				    }				    
					i{
						font-size: 32px !important;
						color: $white !important;
					}
			    }								
			}
		}		
	}
}

.header-menu{
	width: auto;
	top: 160px;
	position: absolute;
	left: 4.5%;
	@media(max-width: 768px){
		display: none !important;
	}	

	.relative{
		position: relative;
		width: 100%;
		.custom-menu{
			position: absolute;
			display: block;		
		    width: 100%;
		    .container{
		    	padding: 0 !important;
				.row{
					transform: translateX(-500%);
				    border: 1px solid;
				    float: left;
				    border-color: #fff;
				    transition: all 1s ease-in-out;			    
				    border-top-left-radius: 0px;							
					div{
						padding: 0 !important;
						position: relative;
						width: 100%;

						&.sub{
							nav{
								ul.principal{
									padding: 0;
									margin-bottom: 0;
									width: 100%;
									li{
										display: block;
										width: 160px;
										padding: 4% 10%;
										background-color: $white;
										cursor: pointer;
										background-image: url(../img/icons/seta-direita.svg);
										background-size: 10px;
										background-repeat: no-repeat;
										background-position: 92%;
										&:first-child{
											background-image: none;
										}

										&:hover{
											background-color: $grey;
											transition: all .5s ease;

											a{
												color: $black;
											}
										}

										a{
											color: $black;
											padding: 4% 0;
											padding-right: 70%;											
										}
										nav.filho{
											visibility: hidden;
											opacity: 0;
											width: 100%;
											right: -161px;
											position: absolute;
											top: -1px;
											padding-bottom: 1px;
											height: 100.5%;
											background-color: $white;
											border-left: 1px solid rgba(0,0,0, .2);
											.relative{
												padding: 0 !important;
												position: relative;
												width: 100%;
												height: 100%;
												ul{
													width: 100%;
													padding: 0;
													background-color: $white;
													border: 1px solid $white;
													border-bottom-left-radius: 5px;
													border-bottom-right-radius: 5px;
													li{
														display: inline-block;
														text-align: center;
														width: 100%;
														padding: 4% 10%;
														text-align: left;
														background-image: none;
														&:hover{
															a{
																color: $black;
															}														
														}
														a{
															color: $black;
															padding-right: 0;
														}
													}
												}
												.promocao{
												    width: 100%;
												    height: 100%;
												    position: absolute;
												    top: 0;
												    right: -158px;
													background-color: $white;
													border-left: 1px solid rgba(0,0,0, .2);
												}
											}
										}									
										&:hover {
											nav.filho{
												visibility: visible !important;
												opacity: 1;
												transition: all 1s ease;
											}
										}									
									}
								}
							}						
						}				
					}
					&.active{
						background-color: #fff;
						transform: translateX(0);
						float: left;
						margin-left: 0px;
						transition: all 1s ease-in-out;
					}
					&.display-block{
						display: block;
					}				
				}		    	
		    }

			.button {
			    width: 3.5%;
			    height: 39px;
			    padding: 0 0;
			    position: relative;
			    float: left;

			    &.back-white{
			    	background-color: $white;
			    	transition: all 1s ease;
				    border-top-left-radius: 5px;
				    border-bottom-left-radius: 5px;		    	
				    svg{
				    	path{
				    		fill: $black;
				    	}		    	
				    }
			    }
			}
		}
	}

	button.button-responsive{	
		background-color: transparent;
		border: none;
		line-height: 4px;
		
		.compre{
			color: $white;
		    position: absolute;
		    right: -152px;
		    top: 17px;
		    font-weight: bold;
		}	
		&.active{
			svg{
				&:nth-of-type(1){
					top: 8px;
					transform: rotate(44deg);
				}
				&:nth-of-type(2) path{
					fill: transparent !important; 
				}
				&:nth-of-type(3){
					  top: -6px;
					  transform: rotate(-44deg);
				}
			}
		}

		& svg{
			position: relative;
			transition: all 500ms ease-in-out;			

			&:nth-of-type(2){
				top: 1px;
			}

			&:nth-of-type(3){
				top: 2px;
			}			
		}
		@media(max-width: 480px){
			display: block;
			float: left;
			width: 12%;
			margin-top: 1%;
			padding: 0 0 0 20px;
			& i{
				float: left;
			}
		}
		@media (min-width: 480px) and (max-width: 767px){
		    display: block;
		    position: absolute;
		    top: 10%;
		    left: 15px;
		    width: 10%;
		}
	}
}

.face-action, .whats-action, .skype-action{
	visibility: hidden;
	display: none;	
}

.skype-action{
    position: fixed;
    transform: translateX(-205px);
    top: 45.3%;
    z-index: 9999;
    width: 250px;
    margin-top: 5px;
    background-color: $skype;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
	@media(max-width: 768px){
		display: none !important;
	}		    

    &.active{
    	transform: translateX(0) !important;
    	display: block;
    	visibility: visible;
    	transition: all 0.5s ease-in-out !important;		    	
    }
	&:hover{
		background-color: $black !important;
		transition: all 0.5s ease !important;
	}		    
	.row{
		width: 100% !important;
		margin: 0 !important;
	    div{
		    height: 40px !important;

		    &.first{
		    	float: left !important;
		    	padding: 4% 0 !important;
		    	padding-left: 4% !important;
		    	color: $white !important;
		    }
		    &.last{
		    	float: right;
		    	padding-top: 2.5% !important;
		    	padding-right: 4% !important;
		    	padding-left: 5% !important;
		    	border-left: 1px solid $white !important;
		    }				    
			i{
				font-size: 32px !important;
				color: $white !important;
			}
	    }								
	}
}

@media(max-width: 990px)
{
	.menu_normal
	{display: none !important;}
}

.produtos-header.menu-item{
	position: relative;
	&:before{
		background: url('../img/icons/icon.png') no-repeat;
		content: " ";
		display: none;
		height: 17px;
		left: 50%;
		margin-left: -10px;
		position: absolute;
		top: -63px;
		transform: translateY(-100%);
		transition: all 0.3s;
		width: 20px;
		@media(max-width:990px){
			display: none;
		}
	}
	&.active:before{
		transform: translateY(0);
	}
}

/* ----- 404 ------*/

.cart_itens_total
	{
		position: absolute;
		top: -7px;
		right: -6px;
		background-color: $blue;
		width: 17px;
		height: 17px;
		border-radius: 50%;
		color: $white;
		font-size: 8pt;
		text-align: center;
		padding-top: 3px;
		font-weight: bold;
		font-family: 'Muli', sans-serif;				
	}

	.icon_produtos
	{
		position: absolute;
		top: 0;
	}

.align_404
{
	margin:100px 0;

	.error-404.not-found
	{

		#content
		{
			margin-left: 5% 0; 
		}

		header
		{		
			border:  none;
			margin: 2% 0 0 0;
			h1
			{
				text-align: center;
				color: #582c78;
				font-family: 'Oswald', sans-serif;
				font-weight: 300;
				font-size: 28pt;
			}
		}

		.page-content
		{
			p
			{
				text-align: center;
				font-family: $source;
				color: #000;
				font-size: 12pt;
			}

			form
			{
				margin-top: 1.5%;
				input
				{
					border:  1px solid #000;
					border-radius: 3px;
					width: 208px;
					height: 30px;
				}

				button
				{
					background-color: #000;				
					color: #fff;
					height: 30px;
					border-radius: 3px; 
					border-width: 1px;
					border-color: #000;
					text-transform: uppercase;
					font-family: 'Oswald', sans-serif;
					font-weight: 300; 
					font-size: 10pt;
					width: 64px; 
				}
			}
		}
	}		
}

/* ----- 404 ------*/

.menu_header {
	background: $none;
	width: 100%;
	color: $black;
	position: absolute;
	z-index: 1000;
	@media screen and (max-width: 990px){
		left: 0px;
		right: 0px;
		width: 100%;
		background: $black;
		position: fixed;
	}
	.div-border {
		position: relative;
		display: none;
	}
	.menu_superior{
		height: 30px;
		background-color: rgba(0,0,0,.3) !important;
		font-family: $source;
		.col-sm-6{
			padding: 0.5% 0;
			@media(max-width: 768px){
				display: none;
			}
			div{
				i{
					float: left;
					color: $white;
					border-radius: 50%;
					background-color: $whats;
					margin-right: 2%;
				}
				p{
					float: left;
					color: white;
					font-size: 9pt;
					paint-order: 0 0;
					margin-bottom: 0;
					a{
						margin-left: 20px;
						&:hover{
							text-decoration: underline;
						}						
					}
				}				
			}
		}
		.segundo_whats{
			float: right;
		    width: 13%;
		    padding: 0.7% 0;

		    @media(max-width: 480px){
		    	display: none;
		    }		    
		    @media(max-width: 1240px)
		    {
		    	width: 16%;
		    }
			i{
				float: left;
				color: $white;
				border-radius: 50%;
				background-color: $whats;
				margin-right: 4%;
				margin-top: 1%;
			}
			p{
				float: left;
				color: white;
				font-size: 9pt;
				paint-order: 0 0;
				margin-bottom: 0;
			}			
		}
		.opcoes_superior{
			float: left;
			margin-top: 5px;
			font-size: 11px;
			margin-left: -10px;
			text-transform: uppercase;
			@media(max-width:767px){
				float: none;
				margin: 0 !important;
				padding-top: 8px;
				text-align: center;
				font-size: 10px;
			}
			@media screen and (min-width:767px) and (max-width:991px){
				margin: 1% 0 0 0 !important;
			}
			span{
				padding-right: 30px;
				text-transform: initial;
				font-size: 9pt;
				color: $white;
				@media(max-width:767px){
					padding-right: 10px;
				}
			}
			i{
				padding-right: 3px;
				font-size: larger;
			}
			a {
				&:focus {
					color: $black;
					text-decoration: none;
				}
			}
		}
	}

	.menu_normal {		
		ul#vuelo-menu {
			li {
				padding: 0 15px;
				a {
					border-bottom: 2px solid transparent;
					position: relative;
					padding: 10px 0;
					&:before {
						position: absolute;
						bottom: 0;
						left: 0;
						width: 100%;
						display: block;
						content: " ";
						height: 3px;
						background: $dourado;
						-webkit-transform: scale(0,1);
						-ms-transform: scale(0,1);
						transform: scale(0,1);
						-webkit-transition: -webkit-transform .3s ease;
						transition: -webkit-transform .3s ease;
						transition: transform .3s ease;
						transition: transform .3s ease,-webkit-transform .3s ease;
						-webkit-transform-origin: right center;
						-ms-transform-origin: right center;
						transform-origin: right center;
					}
				}

				&:hover {
					a {

						&:before {
							-webkit-transform: scale(1,1);
						    -ms-transform: scale(1,1);
						    transform: scale(1,1);
						    -webkit-transform-origin: left center;
						    -ms-transform-origin: left center;
						    transform-origin: left center;
						} 
					} 	
				}
			}

			.current_page_item {
				a {
					&:before {
						transform: scale(1,1);
					}
				}                
			}
		}
	}

	#menu_inferior {
		background-color: $none;
		height: 60px;
		position: relative;
		transition: all 0.35s ease;
		width: 100%;
		@media screen and (min-width:767px) and (max-width:991px){
			.fa-shopping-cart {
				font-size: 35px !important;
				position: relative;
				top: 25px;
			}
		}

		.row{
			div{
				&.logo_menu, &.busca, &.icons_ecommerce{
					padding: 0 !important;
					margin-top: 2%;
				}				
				&.logo_menu{					
					.logo {
						height: auto; 
						width: 94%;						
						display: inline-block;
						float: left;
						img{
							width: 100%;
						}
						a {
							margin: 0px;
						}
						@media screen and (min-width:767px) and (max-width:991px){
							.align_logo {
								width: 40%;
								margin: 50px auto;
								svg {
									height: auto;
									max-height: inherit;
									bottom: -18px !important;
								}
							}
						}
					}
				}

				&.busca{
					.menu-vuelo-menu-container{
						display: inline-block;
						ul {
							li {
								a {
									text-transform: uppercase;
									font-weight: 600;
									font-size: 16px;
									&:focus {
										color: $white;
									}
								}
							}
						}
					}
					.align_opcoes{
						width: 88%;
						float: right;	
						.opcoes_inferior{
							float: right;
							margin-top: 4.1%;
						}
						.informacoes{
							float: right;
							width: 76%;
							margin-bottom: 3%;
							.icons{	
								float: left;
								&:last-child{
									margin-left: 24px;
								}								
								i{
									color: $dourado;
									float: left;
									padding-right: 10px;
								}
								div{
									float: right;
								}	
							}
						}
					}	
					.search-box{
						
						height: 50px;			
						border: 1px solid $white;
						width: 100%;
						margin: 0 auto;
						position: relative;						
						button{
							background: none;
							border: 0;
							color: $white;
							cursor: pointer;
							padding: 0;
							position: absolute;
							right: 10px;
							top: 7px;
							font-size: 20px;
						}
						input{
							background: $none;
							border-radius: 0;
							border: none;
							color: $white;
							height: 100%;
							&:focus{
								box-shadow: none;
							}
						}
						::-webkit-input-placeholder {
							color: $white;
						}
					}
				}
				&.icons_ecommerce{
					a{
						margin: 0 5px;
						font-size: large;
					}
					i{
						font-size: 22px;
						color: $white;
						&.fa-star{
							visibility: hidden;
						}
					}
					.menu_icon{
						bottom: -9px;
						display: inline-block;
						position: relative;
						float: right;
					}				
					.menu-icon{
						padding-left: 20px;
						cursor: pointer;

						.favorite{
							i:hover{
								color: $yellow;
								transition: all 0.7s ease;
							}
						}
					}			
				}				
			}
		}	
	}
	#produtos-header {
		background: #ededed;
		display: none;
		padding-top: 40px;
		padding-bottom: 20px;
		#title {
			h2 {
				font-size: 20px;
				color: #222222;
				font-weight: 600;
				margin: 0px 5px;
			}
		}
		.content {
			align-self: flex-end;
			img {
				width: auto;
				height: 168px;
				transition: all 0.5s ease;
			}
			.info {
				text-align: left;
				h4 {
					color: #000;
					font-size: 20px;
					font-weight: 600;
					margin-bottom: 3px;
					span {
						display: block;
						font-family: $source;
						font-size: 12px;
						text-transform: uppercase;
						color: #222222;
						font-weight: 600;
						margin-top: 3px;
					}
				}
			}
		}
		#close {
			.outer {
			  position: relative;
			  width: 30px;
			  cursor: pointer;
			  float: right;
			}

			.inner {
			  width: inherit;
			  text-align: center;
			}

			label { 
			  font-size: 9px; 
			  line-height: 25px;
			  text-transform: uppercase;
			  color: #222;
			  transition: all .3s ease-in;
			  opacity: 0;
			  cursor: pointer;
			  margin: 0px;
			}

			.inner:before, .inner:after {
			  position: absolute;
			  content: '';
			  height: 4px;
			  width: inherit;
			  background: #523074;
			  left: 0px;
			  transition: all .3s ease-in;
			  border-radius: 3px;
			}

			.inner:before {
			  top: 50%; 
			  transform: translateY(-50%) rotate(45deg);  
			}

			.inner:after {  
			  bottom: 50%;
			  transform: translateY(50%) rotate(-45deg);  
			}

			.outer:hover label {
			  opacity: 1;
			}

			.outer:hover .inner:before,
			.outer:hover .inner:after {
			  transform: rotate(0);
			}

			.outer:hover .inner:before {
			  top: 0;
			}

			.outer:hover .inner:after {
			  bottom: 0;
			}
		}
	}

}

#modal-profissionais,
#modal-curriculo {
	.modal-dialog {
		max-width: 100%;
		margin-top: 100px;
		.modal-body {
			padding: 40px;
		}

		span {
			background: $black;
			width: 30px;
			height: 30px;
			border-radius: 50%;

			span
			{
				line-height: 38px;
				background-color: transparent !important;
				font-weight: 400;
				font-size: 11pt;
			}

			i
			{
				color: #fff;
				position: absolute;
				top: 25%;
				left: 32%;
				cursor: pointer;			
			}
		}
		h2 {
			font-size: 28px;
			font-weight: 400;
			color: $black;
			text-align: center;
			font-family: 'Oswald', sans-serif;
		}
		p {
			font-size: 17px;
			margin-top: 25px;
			font-family: $source;
			margin-bottom: 40px;
		}
		form {

			p
			{
				margin: 0;	
				label
				{
					width: 100%;
					line-height: 0;
					margin-bottom: 2.7%;
					span
					{
						width: 100%;
						right: 0 !important;
						top: 0 !important;
						input
						{
							width: 100%;
							margin:0;
						}
					}
				}		
			}

			input.wpcf7-submit
			{
				 background-color: #4e3b88;
				 color: #fff;
				 font-family: 'Oswald', sans-serif;
				 font-weight: 400;
				 font-size: 12pt;
			}

			input {
				width: 100%;
				margin-bottom: 20px;
				padding: 12px 12px 12px 20px;
				background: #f6f6f6;
				border-style: solid;
				border-width: 1px;
				border-radius: 5px;
				border-color: #cdcdcd;
				color: #333333;
				font-size: 11px;
				font-family: muli;
				font-weight: 600;

				&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				  color:#000;
				  font-size: 9pt;
				}
				&::-moz-placeholder { /* Firefox 19+ */
				  color:#000;
				  font-size: 9pt;
				}
				&:-ms-input-placeholder { /* IE 10+ */
				  color:#000;
				  font-size: 9pt;
				}
				&:-moz-placeholder { /* Firefox 18- */
				  color:#000;
				  font-size: 9pt;
				}					
			}
		}
		.btn-acessar {
			width: 100%;
			background: $black;
			color: #fff;
			border-style: none;
			box-shadow: none;
			font-size: 15px;
			padding: 10px 20px;
			font-family: 'Oswald', sans-serif;
			font-weight: 400;
		}
	}
}

.modal {
	.close {
		padding: 8px 11px;
		border-radius: 50%;
		background: #4e3b88;
		opacity: 1;
		position: relative;
		right: -60px;
		top: -60px;
		i {
			color: $white;
			position: relative;
			top: -1px;
		}
	}
}

#modal-curriculo {
	.wpcf7-not-valid-tip {
		width: 100% !important;
	}
	.ajax-loader {
		display: none;
	}
	.wpcf7-submit {
		margin-bottom: 0 !important;
	}
}


#menu-item-37 {
	span {
		border-color: #ededed transparent transparent transparent;
		border-style: solid;
		border-width: 13.0px 7.5px 0 7.5px;
		content: " ";
		display: none;
		height: 0;
		left: 50%;
		position: absolute;
		top: 0px;
		transform: translateX(-50%);
		width: 0;
	}
}

@media(max-width:767px){
	.mobile_menu {
		#menu_inferior {
			min-height: 50px;
			height: inherit !important;
			.menu_mobile_div {
				.hamburger, .cross {
					top: -5px;
					i {
						font-size: 28px !important;
					}
				}
			}
			.opcoes_inferior {
				margin-top: 15px !important;
				#search-box {
					input {
						height: 40px;
					}
				}
				#search-open {
					top: -30px;
					right: 30px;
					i {
						top: -40px;
					    right: 20px;
					    font-size: 20px;
					}
				}
			}
		}
		.logo {
			.align_logo {
				display: none;
			}
		}
	}
}

.menu_header {
	#menu_inferior {
		.modal-cart{
			background: #fff;
			box-shadow: 0 0 10px rgba(#000, 0.5);
			display: none;
			padding: 10px 20px;
			position: absolute;
			right: -34px;
			z-index: 9999;
			top: 54px;
			width: 270px;
			&:after {
				border: solid transparent;
				border-color: rgba(255, 255, 255, 0);
				border-bottom-color: #ffffff;
				border-width: 8px;
				bottom: 100%;
				content: " ";
				height: 0;
				right: 40px;
				margin-left: -8px;
				pointer-events: none;
				position: absolute;
				width: 0;
			}

			.modal-cart-close{
				background: $none;
				border: none;
				color: $black;
				margin: 0;
				padding: 5px;
				position: absolute;
				right: 0px;
				top: 0px;
				i{
					color: $black !important;
					font-size: 20px;
				}
			}

			.modal-cart-items,
			.modal-cart-total{
				* {
					font-family: $source;
				}
				margin: 0;
				padding: 0;
				li{
					margin: 0;
					padding: 0;
				}
			}

			.modal-cart-items{
				li{
					border-bottom: #ededed 1px solid;
					overflow: hidden;
					padding: 10px 0;
					.cart-item-image{
						float: left;
						padding: 0 20px 0 0;
						width: 70px;

						img{
							width: 100%;
							height: auto;
						}						
					}
					.cart-item-description{
						float: left;
						padding-top: 5px;
						width: 160px;
						em.cart-modal-title{
							color: #000;
							display: block;
							font-family: $source;
							font-size: 14px;
							font-style: normal;
							font-weight: bold;
							margin-bottom: 5px;
						}
						span.cart-modal-price{
							color: $black;
							display: block;
							font-family: $source;
							font-size: 14px;
							*{
								font-family: $source;
							}
							.woocommerce-Price-currencySymbol{
								display: inline-block;
								margin-left: 10px;
							}
						}
					}
				}
			}

			.modal-cart-total{
				color: #000;
				text-align: right;
				padding: 20px 0;
				li{
					color: $black;
					font-size: 16px;
					list-style: none;
					padding: 5px 0;
					.woocommerce-Price-currencySymbol{
						display: inline-block;
						margin: 0 5px 0 10px;
					}
				}
			}

			nav{
				a.button.alt{
					background: $black;
					border-radius: 0;
					color: $white;
					display: block;
					font-family: $source;
					font-size: 12px;
					font-weight: bold;
					margin: 0 0 10px;
					padding: 15px 10px;
					text-align: center;
					text-transform: uppercase;
					&.wc-cart{
						background: $black;
						color: $white;
					}
					&:hover{
						background: $blue;
						color: $white;
					}
				}
			}
		}
	}
}

@media(max-width: 480px){
	.mobile_menu{
		#menu_inferior{
			.menu_icon_mobile{
				margin-top: 6%;
				i{
					font-size: 18pt;
				}
			}
		}
	}
}