@import "_variable.scss";

.menu_icon_mobile
{
    display:none;
}

body
{
    .info{
        h4{
            font-size: 14pt;
        }
        p{
            del, ins{
                display: inline-block;
                width: 100%;
            }
            ins{
                span{
                    font-weight: bold;
                    font-size: 15pt;
                }
            }
            del{
                span.woocommerce-Price-amount.amount{
                    font-weight: normal;
                    font-size: 11pt;
                }                    
            }
            span.woocommerce-Price-amount.amount{
                font-weight: bold;
                font-size: 14pt;
            }
        }
    }    
    &.home{
        #star_home{
            position: relative;
            border-right: none;
            min-height: 50px;
            .avaliacoes_absolute{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                min-height: 32px;
                z-index: 999;
            }
            div{
                border-right: none;
                padding: 0;
                margin: 0;               
            }
            .kksr-legend{
                display: none !important;
            }
        }
        &.menu-fix {
            .cont {
                .menu_header {
                    .header-menu{                        
                        .relative{                            
                            .custom-menu{                                
                                .container{
                                    .row{
                                        &.active{
                                            transform: translateX(44px) !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        #all{
            .cont{
                header{
                    .menu_header{
                        .menu_normal{
                            background-color: transparent;
                        }
                    }
                }
            }
        }
    }
    &.menu-fix {
        .cont {
            .menu_header {
                #menu_inferior {
                   position: fixed;
                   top: 0;
                   background-color: $black;

                   .row{
                        .busca{
                            margin: 2% 0;
                        }
                   }
                }
                .header-menu{
                    .relative{
                        .custom-menu{
                            .container{
                                .home_button{
                                    button-responsive{
                                    }
                                    row{
                                        &.active{
                                            transform: translateX(44px) !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.internas{
        .cont{
            header{
                .menu_header{
                    position: relative;
                }
            }
        }
    }
}

.newsletter{
    background-color: $white;
    color: $white;
    margin: 1% 0;
    @media(max-width: 768px){
        display: none;
    }            
    
    div{
        &.container{
            background-color: $black;
            padding: 1% 0;
        }
        .news{
            padding: 0.2% 0;
            border: 1px solid;
            border-color: transparent;
            background-color:$white;
            border-radius: 5px;
            margin: 1.5% 0;
            @media(max-width: 992px){
                width: 80%;
                margin: 0 auto;
            }
            .row{
                width: 100%;
                padding: 0 1%;
                margin: 0 !important;
                div{
                    padding: 0;
                    &:last-child{
                        i{
                            color: $black;
                            font-size: 20px;
                            margin: 8% 0;
                            float: right;
                            cursor: pointer;
                            &:hover{                                
                                color: $blue;
                                transition: all 0.7s ease;
                            }
                        }
                    }
                }
                input{
                    width: 100%;
                    color: $black;
                    border-color: transparent;
                    padding: 0.5% 0;
                }                            
            }
        }

        h2{          
            font-family: $oswald;  
            padding: 30px;
            margin: 0 0 2%;
            padding: 0;
            text-align: center;
            font-weight: 600;
        }
    }
}

.Produtos{
    .container{
        margin-top: 2%;
        margin-bottom: 2%;
        .row{
            margin: 2% 0;
            div{
                border-right: 1px solid;
                border-color: #d4d4d4;
                padding: 0 2%;
                @media(max-width: 480px){
                    border-right: none;
                    margin: 10% 0;
                }

                &.border-right-none{
                    border-right: none;
                }

                &:last-child{
                    border-right: none;
                }

                &:hover{                  
                    figure{                        
                        opacity: 0.7;                        
                    }
                    img{                        
                         transform: scale(1.1);                                                              
                    }
                }

                figure{
                    transition: all 0.7s ease;
                    margin: 0 auto;
                    width: 90%;
                    img{
                        width: 90%; 
                        margin: 0 auto;                  
                        height: auto;
                        transition: all 0.7s ease;
                        @media(max-width: 480px){
                            width: 100%;
                        }
                    }                
                }

                .info{
                    margin: 8% 0;
                    @media(max-width: 480px){
                        margin: 4% 0 0 0;
                    }                      
                    h4{
                        color: $black;
                        text-align: left;
                    }
                }
                .btn-lg{
                    background-color: $black;
                    text-align: center;
                    width: 50%;
                    z-index: 9999 !important;
                    margin: 0 auto;
                    font-size: 11pt;
                    @media(max-width: 1200px){
                        width: 60%;
                    }
                    @media(max-width: 992px){
                        width: 80%;
                    }
                    @media(max-width: 480px){
                        width: 40%;
                    }                       
                }
            }
        }
    }
}

.custom-slider{
    position: relative;
    i{
        position: absolute;
        color: $white;
        bottom: 2%;
        left: 50%;
        z-index: 9999;
        font-size: 50px;
        @media(max-width: 768px){
            display: none;
        }
    }
}

.Destaques_Home{
    .row{
        width: 100%;
        margin: 0 auto;        
        div{
            background-color: $black;
            padding: 0 !important;
            &:hover{
                .Descricao{
                    visibility: visible;
                    transform: rotate(10deg);
                }
                img{
                    transform: rotate(10deg);
                }
            }
            .Descricao{
                position: absolute;
                width: 100%;
                z-index: 999;
                color: $white;
                text-align: center;
                padding: 44% 0 !important;
                background-color: rgba(0, 0, 0, .3);
                visibility: hidden;                
                transition: all 1s ease;
            }
            img{
                width: 100%;
                height: auto;
                transition: all 0.7s ease;
            }
        }
    }
}

@media screen and (min-width:959px)
{

    .menu_normal
    {
        .hamburger, .cross
        {
            display:none !important;
        }   
    }

    .mobile_menu {
        display: none;  
    }

    .align_icons_menuchildren {
        display: none;
    }  

    .produtos-header
    {
        .sub-menu
        {
            display: none !important;
        }        
    }
}

@media screen and (max-width: 990px)
{


/* --------------- HEADER ---------------------*/

    .menu_normal
    {
        #menu_inferior
        {
            display:none;
        }
    }


    .mobile_menu {
        display: block;

        div#menu_inferior
        {
            display:block;
        }
    }

    .cont{
        padding: 0 !important;
    }

    .div-border {
        display: none;
    }

    .logo 
    {
        width: 46% !important;
        margin-top: 0 !important;
        float: left;
        margin-left: 0 !important;
        height: 52px !important;

        .align_logo {
            width: 40%;
            margin: 0 auto;
            min-height: 52px;
            position:relative;

            svg#Layer_1 
            {
                width: 100%;
                height: 35px;
                margin-top: 19%;
                position: absolute;
                bottom: 0;
            }              
        }
    }

    #menu_inferior 
    {
        display:block;
        min-height: 80px;
        min-height: 52px;
        border-bottom:none !important;
        
        .menu_mobile_div 
        {
            float: left;
            min-height: 37px;
            width: 27%;
            padding: 3% 0px 0 20px;  
            position:relative;
            display:block;  



            button 
            {
                position: absolute !important;
                bottom: 0;     
                left: 15px;
                height: 60px;           
            }

            .hamburger{
              background:none;
                position:relative;
                color:#fff;
                border:0;
                font-weight:bold;
                cursor:pointer;
                outline:none;
                z-index:1000;
                line-height: 0px;
                top: 0px;
                i {
                    color: $white !important;
                    font-size: 40px !important;
                }
            }
            .cross{
              background:none;
              position:relative;
              color:#fff;
              border:0;
              line-height:0px;
              font-weight:bold;
              cursor:pointer;
              outline:none;
              z-index:1000;
              top: 0px;
              i {
                    color: $white !important;
                    font-size: 40px !important;
                }
            }     
        }

        .menu_icon_mobile 
        {
            float: right;
            width: 52px;
            min-height: 20px;
            position: relative;
            margin-right: 20px;
            display: block !important;
            padding: 0;

            span 
            {
                position: absolute;
                bottom: 0;
                padding: 0 !important;
            }     

            span#search {
                left: 0;
            }

            span.menu-icon {
                right: 0;
            }                       
        }    

        .menu_icon
        {
            display: none !important;
        }              

        .opcoes_inferior
        {
            margin-top: 22px;
            background-color: $black;
            padding-top: 5%; 
            float: left !important;
            width: 100%;
            height: 100vh;

            .menu-vuelo-menu-container
            {
                width: 100%;
                padding: 0 20px;
                padding-bottom: 20px;

                #vuelo-menu{
                    width: 100%;
                    margin: 0;

                    li
                    {
                        z-index: 9999;
                        width: 100%;
                        margin-bottom: 15px;
                        border-bottom: 1px solid $white;

                       a
                       {
                            text-align: left;
                            padding-bottom: 25px;
                       }
                    }



                    .align_icons_menuchildren 
                    {
                        float: right;
                        padding: 2.5% 3% 2.5% 0;

                        i
                        {
                            font-size: 25px;
                            color: #fff;
                        }
                    }

                    li.menu-item-has-children
                    {

                        ul
                        {
                            padding-left: 0;
                            display: block;
                            width: 100%;                            

                            li
                            {
                                list-style: none;
                                text-align: left;
                                padding: 2% 0 2% 5%;
                                background-color: $black;
                                margin-bottom: 0;
                                border-color: $white;

                                a
                                {
                                    font-weight: 600;
                                    color: $white;
                                    display: block;
                                }
                            }
                        }
                    }
                    .sub-menu {
                        li {
                            border-bottom: none !important;
                            border-top: 1px solid #6c4195;
                            a {
                                padding-bottom: 0 !important;
                            }
                        }
                    }
                }                
            }
            #search-box {
                input {
                    width: 88%;
                    height: 50px;
                    margin: auto;
                }
            }
            #search-open {
                float: right;
                position: relative;
                top: -42px;
                right: 60px;
                background: none;
                border: 0;
                color: #fff;
                cursor: pointer;
                padding: 0;
                i {
                    float: right;
                    font-size: 30px;
                    color: $black;
                }
            }
        }                    
    }


    div.menu_superior
    {
        margin-top: 0 !important;
        background-color: transparent !important;

        .opcoes_superior 
        {
            margin: 2% 0 0 0 !important;
        }
    }

    div#produtos-header
    {
        display: none !important;
    }
    /* --------------- HEADER ---------------------*/

    /* --------------- FOOTER ---------------------*/

    #footer{
        padding: 1% 3%;
    }

    #footer-fixed {
        display: none;
    }    

    /* --------------- FOOTER ---------------------*/

    /*---HOME ----*/
    #wp-home
    {
        #all
        {
            .cont{
                #box_1
                {
                    .box_1_1.col-md-6 {
                        padding: 20px !important;
                        margin-bottom: 20px;
                        border: none !important;
                        height: auto !important;

                        .more-link
                        {
                            position: relative;
                            display: inline-block;
                        }
                    }
                    .bg_imagem_empresa
                    {
                        display: none;
                    }

                    #produtos
                    {
                        div
                        {
                            border: none !important;
                            margin: 20px 0;                            
                        }
                    }
                }

                #box_2
                {

                    p
                    {
                        margin: 0;
                        width: 100%;
                        padding: 20px 0;
                        text-align: left;   
                        color: #222222;                         
                    }
                } 

                #produtos 
                {
                    margin-bottom: 0 !important;
                    div.prod {
                        border-right: none !important;
                        border-left: none !important;
                        border-bottom: 20px solid #fff;
                        border-top: 20px solid #fff;
                    }                      
                }

                #banner 
                {
                    margin-bottom: 0;
                    .parallax-window {
                         margin-top: 0;
                    }  
                }

                #profissionais
                {
                    height: auto !important;                    
                    z-index: 10;

                    .profissional_1.col-md-6 {
                        height: auto !important;
                        border-left: none !important;
                        margin-top: 20px;
                        padding: 20px 5% !important;   

                        .more-link
                        {
                            position: relative;                            
                            float: left;                            
                        }                     
                    }

                    .profissional_2.col-md-6 {
                        border: none !important;
                    } 

                    .bg_imagem_profissonais {
                        display: none;
                    }                                      
                }

                #forms
                {
                    .col-md-6.forms
                    {
                        border-right: none !important;
                        border-left: none !important;
                        border-top: 20px solid #fff !important;                     
                    }

                    #newsletter
                    {
                        border-top:none !important;
                    }
                }
                                      
            }
        }
    }
    /*---HOME ----*/
} 


@media screen and (max-width: 766px)
{
    .align-animate
    {
        display: none;
    }        
}

@media screen and (min-width: 1050px) and (max-width: 1250px)
{

    #box_2
    {
        .align-animate
        {

            .ajuda_align.um
            {
                display: none;
            }

            .ajuda_align.dois {
                width: 545px !important;
                float: left !important;
            }

            .ajuda_align.tres {
                width: 42% !important;
                height: auto !important;
                position: relative !important;
                float: right !important;
                clear: both;

                .navegar_animate
                {
                    margin-top: -198px;
                    margin-bottom: 28%;
                    .margin
                    {
                        width: 40px;
                    }

                    div
                    {
                        width: 52%;
                    }                    
                }

                .align_texto_animate {
                    width: 100% !important;
                    position: relative !important;
                    bottom: inherit !important;
                    left: inherit !important;
                    height: auto !important;
                }                
            }        
        }
    }    

    .align-animate
    {

        .ajuda_align.um
        {
            display: none;
        }

        .ajuda_align.dois {
            width: 545px !important;
            float: left !important;
        }

        .ajuda_align.tres {
            width: 42% !important;
            height: auto !important;
            position: relative !important;
            float: right !important;
            clear: both;

            .navegar_animate
            {
                margin-top: -198px;
                margin-bottom: 28%;
                .margin
                {
                    width: 40px;
                }

                div
                {
                    width: 52%;
                }                    
            }

            .align_texto_animate {
                width: 100% !important;
                position: relative !important;
                bottom: inherit !important;
                left: inherit !important;
                height: auto !important;
            }                
        }        
    }    
}

@media screen and (min-width: 1250px) and (max-width: 1600px)
{

    #box_2 
    {
        .align-animate 
        {        
            .ajuda_align.dois {
                width: 600px;
            }

            .ajuda_align.tres {
                width: 23% !important;
                height: 295px !important;
                margin-top: -32px;                 

                .align_texto_animate
                {
                    width: 96% !important;                    
                }
            }
            .ajuda_align.um {
                width: 26% !important;
            }
        }    
    }

    .align-animate 
    {        
        .ajuda_align.dois {
            width: 600px;
        }

        .ajuda_align.tres {
            width: 23% !important;
            height: 295px !important;
            margin-top: -32px; 

            .align_texto_animate
            {
                width: 96% !important;                    
            }
        }
        .ajuda_align.um {
            width: 26% !important;
        }
    }    
}



@media screen and (min-width: 1600px) and (max-width: 1860px)
{
    .ajuda_align.dois {
        width: 600px !important;
    }

    .ajuda_align.tres {
        width: 30% !important;
        height: 295px !important;
    }
    .ajuda_align.um {
        width: 30% !important;
    }

}

@media screen and (min-width: 768px) and (max-width: 840px)
{

    #box_2 
    {
        .align-animate
        {
            .ajuda_align {                
                float: none !important;
            }

            .ajuda_align.tres {
                width: 76% !important;
                height: auto !important;
                margin: 0 auto;
                margin-top: 39%;

                .align_texto_animate 
                {
                    position: relative !important;
                    width: 90% !important;
                    bottom: inherit !important;
                    left: inherit !important;
                    height: auto !important;
                    margin: 0 auto;

                    .cont
                    {
                        margin-top: 4% !important;
                    }
                }                
            }                        
        }
    }


    .align-animate
    {
        .ajuda_align.um {
            position: absolute !important;
            top: -60px;
            left: 60px;
            width: 40% !important;
            .navegar_animate
            {
                display: block !important;
            }
        }          
        .ajuda_align {
            width: 100% !important;
            float: none !important;
        }

        .ajuda_align.tres {
            width: 76% !important;
            height: auto !important;
            margin: 0 auto;
            margin-top: 39%;

            .navegar_animate
            {
                display: none !important;
            }

            .align_texto_animate 
            {
                position: relative !important;
                width: 90% !important;
                bottom: inherit !important;
                left: inherit !important;
                height: auto !important;
                margin: 0 auto;

                .cont
                {
                    margin-top: 4% !important;
                }
            }                
        }                        
    }
}

@media screen and (min-width: 920px) and (max-width: 1050px)
{
    .ajuda_align.dois {
        width: 545px !important;
        float: left;
    }

    .ajuda_align.tres 
    {
        float: right !important;
        width: 30% !important;
        clear: both;
        height: auto !important;
        margin-top: -42px;

        .navegar_animate
        {
            position: relative;
            height: 40px;
            margin-bottom: 40%;
            margin-top: -160px;
            div
            {
                width: 80%;
            }
        }
    } 
}

@media screen and (min-width: 840px) and (max-width: 920px)
{

    .ajuda_align.dois {
        width: 535px !important;
        float: left;
    }

    .ajuda_align.tres {
        float: right !important;
        width: 31% !important;
        clear: both;
        margin-top: -66px;
        height: auto !important;

        .navegar_animate
        {
            position: relative;
            height: 40px;
            margin-bottom: 40%;
            margin-top: -160px;
            div
            {
                width: 80%;
            }
        }  
    }  
}

@media screen and (min-width: 839px) and (max-width: 1050px)
{

    #box_2 
    {
        .align-animate
        {

            .ajuda_align.um {
                display: none;
            }              

            .align_texto_animate 
            {
                position: relative !important;
                width: 90% !important;
                bottom: inherit !important;
                left: inherit !important;
                height: auto !important;
                margin-top: -36px !important;
                margin: 0 auto;

                .cont
                {
                    margin-top: 4% !important;
                }
            }                
        }                        
    }

    .align-animate
    {

        .ajuda_align.um {
            display: none;
        }              

        .align_texto_animate 
        {
            position: relative !important;
            width: 90% !important;
            bottom: inherit !important;
            left: inherit !important;
            height: auto !important;
            margin: 0 auto;

            .cont
            {
                margin-top: 4% !important;
            }
        }                
    }                            
  
}

@media(max-width:990px){

    #slider
    {
        max-height: 200px;
        .item
        {
            max-height: 200px;
            .esquerda
            {
                max-height: 150px;
                p, span, div
                {
                    font-size: 18pt !important;
                    line-height: 28px;
                }
                a
                {
                    position: absolute;
                    bottom: 0;
                    div
                    {
                        font-size: 12pt !important;

                    }                
                }
            }
        }
    }

    .cross, .mobile_menu .opcoes_inferior {
        display: none;
    }
    .show-menu {
        display: block;
    }
    .menu_header {
        #menu_inferior {
            .menu-vuelo-menu-container {
                height: auto;
                max-height: 440px;
                overflow-x: hidden;
            }
        }
    }
}

@media (max-width: 700px)
{
    #slider
    {
        .item
        {
            .esquerda
            {
                max-height: 140px;

                .borda-bottom-slide
                {
                    border-bottom: 4px solid;
                }
                p, span, div
                {
                    font-size: 14pt !important;
                    line-height: 28px;
                }
                a
                {
                    position: absolute;
                    line-height: 0;
                    bottom: 0;
                    margin-bottom: 6px;
                    div
                    {
                        font-size: 11pt !important;
                        padding: 0 5px;
                    }                
                }
            }
        }
    }    
}

@media (max-width: 767px) and (orientation: landscape) {
    .mobile_menu {
        #menu_inferior {
            .opcoes_inferior {
                #search-open {
                    right: 0;
                    margin-right: 8%;
                }
            }
        }
    }
    .menu_header {
        #menu_inferior {
            .menu-vuelo-menu-container {
                max-height: 150px;
            }
        }
    }
}