body{
	&.menu_relative{
		#all{
			.cont{
				header{
					.menu_header{
						background-color: $none;
						.menu_superior{
							background-color: $blue !important;
						}
						.header-menu{
							display: block !important;
							position: relative;
							top: inherit;
							left: inherit;
							@media(max-width: 768px){
								display: none !important;
							}

							.relative{
								background-color: $none;
								.custom-menu{
									position: relative;
								    min-height: 42px;
								    border-bottom: 1px solid $grey;									
									.container{
										position: absolute;
										max-height: 40px;
										width: 100%;

										.align_menu_interno{
										    padding-right: 15px;
										    padding-left: 15px;
										    margin-right: auto;
										    margin-left: auto;		
										    
										    @media(min-width: 1200px){
												width: 1170px;										    	
										    }

										    @media(min-width: 992px) and (max-width: 1200px){
												width: 970px;										    	
										    }			
										    @media(min-width: 768px) and (max-width: 992px){
												width: 750px;										    	
										    }										    							    
											.button{
												.button-responsive{
													padding: 0;
													.compre{
														color: $black;
													}
													svg{
														path{
															fill: $black;
														}
													}
												}
											}
										}	
									}		
								}			
							}
						}
						.mobile_menu{
							@media(max-width: 768px)
							{
								background-color: $black;
							}
						}
					}																	
				}
			}
		}		
	}
	&.internas{
		.internas_none{
			display: none;
		}
		#all{
			.cont{
				#content{
					section{
						&.auto_atendimento{
							padding: 2% 0;
							.container{
								span{
									text-align: center;
								}
								.row{
									&.atendimento{
										div{
											text-align: center;
										}
									}
									&.navegacao{
										margin-top: 4%;
										div{
											&:last-child{
												padding-top: 1%;
											}
											ul{
												border-bottom: none;
												li{
													&.active{
														border-bottom: 1px solid;														
														border-color: $grey;
													}													
													a{
														color: $blue;
														&:after{
															border: solid $none;
															content: " ";
															border-left-color: $blue;
															border-width: 5px;
															position: absolute;
															top: 40%;
															right: 3%;
														}
													}
												}
											}
										}
									}
									div{
										p{
											a{
												color: $black;
												&:hover{
													text-decoration: underline;
													cursor: pointer;
												}
											}
										}
									}
								}
							}
						}
					}
					#container{
						#content{
							.woocommerce-breadcrumb{
								padding-right: 15px;
								padding-left: 15px;
								margin: 0 auto;								
								@media(min-width: 1200px){
									width: 1170px;
								}

								@media(min-width: 992px) and (max-width: 1200px){
									width: 970px;
								}

								@media(max-width: 768px) and (max-width: 992px){
									width: 750px;
								}								

								a{
									color: $black;
								}
							}
							.woocommerce-message{							
								.button.wc-forward{
									padding: 5px 10px;
									background-color: $black;
									&:hover{
										background-color: $blue;
										transition: all 0.7s ease-in-out;
									}
								}
							}
							.section-produtos{
								.nav-highlight{
									padding: 15px 0;
									.row{
										div{
											&.esquerda{
												.row{
													div{
														.header-menu{
															position: relative;
															top: inherit;
															left: inherit;
															background-color: $none;
															.container{
																width: 14%;
																margin: 0;
																float: left;
																height: 40px;
																margin-top: -5px;
																.button{
																	width: 100%;																
																	div{
																		.row{
																			position: absolute;
																			&.active{
																				background-color: $none;
																				border: none;
																				margin-left: 11px;																		
																			}
																		}																		
																		&.sub{
																			nav{
																				ul{
																					&.principal{
																						background-color: $none;
																					}
																				}
																			}
																		}
																	}
																}
																.row{
																	&.active{																		
																		transform: translate3d(38px, -39px, 0);
																		z-index: 9999;
																	}
																}
															}
														}
													}
												}
											}
											ol{
												li{
													a{
														&.solid{
															padding: 5px 25px;
															background-color: $blue;
															border: none;
															color: $white;
														}
													}
												}
											}
										}
									}
								}
								span.woocommerce-Price-amount.amount{
									span{
										float: left;
									}
								}
							}
						}
					}
				}
			}
		}
		&.menu-fix{
			#all{
				.cont{
					header{
						.menu_header{
							.header-menu{
								/*top: 241px !important;*/
								left: 0 !important;
								.align_menu_interno{
									padding: 0 !important;
								}
							}
						}
					}
				}
			}
		}
	}
}