body{
	&.internas{
		.breadcrumb_loja{
			.container{
				#content{
					margin-bottom: 0 !important;
					.woocommerce-breadcrumb{
						padding: 0.5% 0 !important;
					}
				}
			}
		}
		.title_loja
		{
			padding: 15px 0;
			background-color: $black;
			color: $white;
			margin-bottom: 2%;
			.container{
				h3{
					margin-bottom: 0;
					margin-top: 0;
				}
			}
		}
		.produtos{
			.container{
				@media(max-width: 768px)
				{
					width: 100%;
					padding: 0;
				}
				.row{
					@media(max-width: 768px){
						width: 100%;
						margin:0 auto;
					}
					.filtro{
						border: none;
						padding-left: 0;
						padding-right: 0;
						.woof_childs_list_opener span.woof_is_closed, .woof_childs_list_opener span.woof_is_opened{
							background-repeat: no-repeat !important;
							background-size: 70% !important;
							background-position: center !important;
						}
						.woof_sid{
							border: none;
							.woof_redraw_zone{
								.woof_container_checkbox{
									width: 100%;
									.woof_container_inner_categoriasdeproduto{
										.woof_block_html_items{
											ul{
												&.woof_list.woof_list_checkbox{
													padding-left: 0;
													li{
														.icheckbox_minimal-aero{
															border-color: $grey;
															border: 1px solid;
															margin-bottom: 8px;
														}
													}
												}
											}
										}
									}
								}
							}
						}
						p.woocommerce-result-count, form.woocommerce-ordering, .woof_products_top_panel{
							display: none !important;
						}
					}
					.produtos_area{
						padding-left: 2.5%;
						padding-right: 0;
						.ordenacao{
							p.woocommerce-result-count{
								float: left;
								width: 30%;
								@media(max-width: 480px){
									width: 100%;
								}
							}
							form.woocommerce-ordering{
								float: right;
								@media(max-width: 480px){
									float: left;
								}								
							}
							.woof_products_top_panel{
								ul{
									li{
										a{
											span{
												color: $black;
											}
										}
									}
								}
							}
						}
		.loop_produtos{
			.mais-vendidos{
				.container{
					margin-top: 0;
					.produtos_row{
						margin-top: 0;
						.products{
							padding-left: 0;
							.row{
								padding: 0 !important;
							}
						}
					}
				}
			}
		}						
						.loop_produtos{					
							.Produtos.mais-vendidos{
								.container{
									width: 100%;
									padding: 0;
									margin-top: 0;

									.produtos_row{
										margin-top: 0;
										.row{
											border-right: none;
											div{
												&.products{
													padding-left: 0;

													.row{
														div{
															.info{
																p{
																	del, ins{
																		width: 100%;
																		display: inline-block;
																	}
																	del{
																		.woocommerce-Price-amount.amount{
																			font-weight: normal;
																			font-size: 11pt;																
																		}
																	}
																	.woocommerce-Price-amount.amount{
																		font-weight: bold;
																		font-size: 14pt;
																	}
																}
															}
														}
													}													
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}