@import "_variable.scss";

#scroll_desc{
	cursor: pointer;
}

.single-produto{
	&.menu-fix{
		#all{
			.cont{
				header{
					.header-menu{
						display: block;
					}
				}
				.fechar_woo_action{
					display: block !important;
				}
				.call_to_action_product{
					display: block !important;
				}				
			}
		}
	}
	#all{
		.cont{
			header{
				.header-menu{
					display: none;
				}
			}
			#content{
				#container{
					#content{
						.woocommerce-breadcrumb{
							margin-top: 2% !important;
							margin-bottom: 3% !important;
							padding-left: 20px !important;
						}	
						.fechar_woo_action{
							display: none;
						}
						.call_to_action_product{
							display: none;
						}
					}
				}
			}
		}
	}	
}

#banner {
	.parallax-window {
		margin-top: 20px;
	}
}

#all .cont #content #container #content{
	padding:0 !important;
}

.scroll_move {
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
    left: 0;
    transition: all 0.2s;
    border: 20px solid #fff;
}


@media(min-width: 1122px) and (max-width: 1190px)
{	
	.row.header-comprar .col-lg-5
	{
		margin-top: 5%;
		width: 45%;
		margin: 2% auto;				
	}

	.col-lg-7
	{
		margin: 0 auto;
		ul
		{
			float: none !important;
			width: auto;
		}
	}
}
	

.woocommerce {
	#all{
		.woocommerce-breadcrumb{
			background: #f6f6f6;
			color: $black;	
			font-family: $source;
			font-size: 11px;
			font-weight: bold;
			margin: 0 0 20px;
			padding: 15px 70px;
			text-transform: uppercase;
			@media(max-width:767px){
				padding: 8px;
				font-size: 8px;
			}
			i{
				color: #a3a2a2;
			}
			a{
				color: $black;	
				font-family: $source;
				i{
					color: #a3a2a2;
				}
			}
			span{
				display: inline-block;
				padding: 0 10px;
			}
		}
	}
}

#all{
	.section-produtos{
		.nav-highlight{
			background: $black;
			margin: 0 0 20px;
			overflow: hidden;
			padding: 15px 70px;
			&.scroll_move
			{
				border-bottom: 21px solid #fff;
				@media(max-width: 769px){
					.col-xs-12.col-sm-12.col-md-9.col-lg-7 {						
						ul {
							display: none;
						}
					}

					.col-xs-12.col-sm-12.col-md-3.col-lg-5
					{
						.hidden-xs
						{
							width: 100%;
							display: block !important;
							li
							{
								margin-left: 0;
							}							
						}
					}
				}
			}

			@media(max-width:767px){
				padding: 10px;
				.icon-1, .icon-3 {
				width: 50%;
				float: left;
				margin-left: 0;
				margin-bottom: 10px;
				}
				.icon-2, .icon-4 {
					width: 50%;
					float: right;
					margin-left: 0;
					margin-bottom: 10px;
				}
			}
			span.title{
				color: #fff;
				display: block;
				float: left;
				font-family: $source;
				font-size: 30px;
				height: 40px;
				line-height: 40px;
			}
			h2 {
				display: none;
				@media(max-width:767px){
					margin-top: 0;
					margin-bottom: 20px;
					color: $white;
					display: block;
				}
			}
			ul{
				float: left;
				margin: 0;
				padding: 0;
				@media(max-width:767px){
					padding-left: 15px;
					width: 100%;
				}
				li{
					color: #fff;
					float: left;
					font-size: 14px;
					margin-left: 30px;
					list-style: none;
					img{
						float: left;
						height: 40px;
						width: auto;
						margin-right: 10px;
						@media(max-width:767px){
							height: 30px;
						}
					}
					em{
						display: block;
						float: left;
						font-family: $source;
						font-style: normal;
						font-weight: 400;
						@media(max-width:767px){
							font-size: 12px;
						}
					}
				}
			}
			ol{
				float: right;
				margin: 0;
				padding: 0;
				@media(max-width:767px){
					text-align: center;
					float: none;
				}
				@media screen and (min-width:767px) and (max-width:1200px){
					float: none;
					text-align: center;
				}
				li{
					float: left;
					list-style: none;
					margin-left: 10px;
					@media(max-width:767px){
						font-size: 14px;
						margin-left: 0;
					}
					@media screen and (min-width:991px) and (max-width:1200px){
						float: none;
						margin-bottom: 20px;
					}
					@media(max-width:991px){
						margin-top: 20px;
						float: none;
					}
					a{
						border-radius: 5px;
						border: 2px solid $green;
						color: $green;
						display: block;
						padding: 10px 25px;
						text-transform: uppercase;
						&.solid{
							background: $green;
							color: $black;
						}
					}
				}
			}
		}

		.produto-content{
			margin-bottom: 2%;
			.gallery{
				.tab-content{
					margin-bottom: 10%;
					.tab-pane{
						width: 445px;
						height: 232px;
						margin: 0 auto;
						padding: 0 15%;
						@media(max-width: 1230px){
							width: 100%;
						}
						img{
							width: 100%;
							height: 232px;
						}
					}					
				}
				ul{
					border: none;
					&.nav-tabs{
						li{
							float: left;
							width: 25%;
							height: auto;
							border: 1px solid;
							border-color: $none;
							&.active{
								border-color: $black;
								transition: all 0.7s ease;
								border-radius: 3px;
							}
							&:hover{
								img{
									transform: scale(1.3);
									transition: all .5s ease-in-out;
								}
							}							
							a{
								img{
									width: 100%;
									height: auto;
								}
							}
						}
					}
				}

				.row{
					margin: 0 -10px;
					.col-xs-6{
						padding: 0 10px;
					}
				}
			}
		}

		.produto-description{

			.fechar_woo_action{
				position: fixed;
				cursor: pointer;
				top: 30%;
				right: 0;				
				div{
					position: absolute;
					top: -48px;
					right: -2px;
					padding: 15px 18px;
					text-align: center;
					background-color: #cccccc;
					color: $black;

					i{

					}
				}
			}
			.call_to_action_product{
				transition: all 2s ease;
				position: fixed;
				top: 30%;
				right: 0;
				transform: translateX(0px);				
				background-color: $white;
				z-index: 9999;
				padding: 1%;
				border: 2px solid $grey;
				border-right: none;
				max-width: 210px;
				width: 100%;

				h1.produto-title{
					font-weight: normal;
					margin-bottom: 0;
					p.woo_title{
						border-bottom: 1px solid $grey;
						padding-bottom: 3%;
					}
					.row{
						div{
							.comprar_woocommerce{
								width: 100%;
								float: none;
								margin-top: 0;

								div{
									&:last-child{
										span{
											font-size: 9pt;
										}
									}
								}
							}
						}
					}
				}
			}
			p{
				color: #000;
				font-family: $source;
				font-size: 15px;
				font-weight: 400;
				line-height: 24px;
				strong{
					font-family: $source;
					font-weight: 400;
				}
			}
			h1.produto-title{
				font-size: 16px;
				font-weight: 600;
				margin: 0 0 20px;
				@media(max-width: 480px){
					margin-top: 8%;
				}

				.row{
					margin-top: 5%;
					width: 100%;
					margin-right: auto;
					margin-left: auto;

					&.desc_produto{
						margin-top: 1%;
						a{
							padding: 3% 5%;
							background-color: $grey3;
							color: $black;
							border-radius: 3px;
							font-size: 10pt;
							font-weight: 400;
						}
					}
					div{
						padding: 0;

						.comprar_woocommerce{
							background-color: $red;
							color: $white;
							width: 90%;
							float: right;
							border-radius: 4px;
							padding: 3% 0;
							text-align: center;
							margin-top: -30px;
							@media(max-width: 480px){
								width: 60%;
								float: none;
								margin-top: 4%;
							}

							div{
								@media(max-width: 480px){
									float: left;
								}
								&:first-child{
									padding-left: 12px;
									i{
										font-size: 38px;
									}
								}
								&:last-child{
									font-size: 22px;
									padding-right: 10px;
									line-height: 18px;
									padding-left: 25px;
									padding-top: 2px;
									span{
										font-size: 10pt;
										font-weight: 400;
										margin-top: -1px
									}
								}
							}
						}
					}
				}
				del{
					span{
						display: block;
						font-size: 32px;
						&.woocommerce-Price-amount{
							font-size: 13pt;
							margin-right: 5% !important;
							.woocommerce-Price-currencySymbol{
								font-size: 13pt;
							}
						}
					}
				}
				ins{
					text-decoration: none;
					span{
						&.woocommerce-Price-amount{
							font-size: 18pt;							
						}
					}
				}
			}
			.calcular_frete{
				border-top: 1px solid;
				border-bottom: 1px solid;
				border-color: $grey;
				padding: 3% 0;
				div{
					&:first-child{
						a{
							color: $black;
							font-size: 11pt;
							&:hover{
								text-decoration: underline;
							}
						}						
					}
					&:last-child{
						text-align: right;
						a{
							color: $white;
							background-color: $blue;
							padding: 5% 8%;
							border-radius: 3px;
						}						
					}					
				}
			}
			.indique{
				border-bottom: 1px solid;
				border-color: $grey;
				padding: 3% 0;
				cursor: pointer;
				div{
					&:first-child{
						a{
							padding: 2% 3%;
							background-color: $grey3;
							color: $black;
							border-radius: 3px;
							font-size: 10pt;
							font-weight: 400;

							i{
								color: $black;
								margin-right: 5px;								
							}
						}
					}
					&.sociais{
						float: right;
						a{
							padding: 0;
							background-color: $none;
							cursor: pointer;
							i{						
								background-color: $grey;
								color: $grey3;	
								font-size: 22px;
								border-radius: 3px;

								&.fa-whatsapp{
									padding: 4px;								
								}

								&.fa-facebook{								
									padding: 4px 8px;									
								}
								&.fa-skype{								
									padding: 4px;										
								}
								&.fa-google-plus{								
									padding: 8px 4px 7px 4px;
									font-size: 18px;
								}

								&:hover{
									color: $white;
									transition: all 0.7s ease-in-out;
									&.fa-whatsapp{
										background-color: $whats;
										padding: 4px;								
									}

									&.fa-facebook{
										background-color: $face;									
										padding: 4px 8px;									
									}
									&.fa-skype{
										background-color: $skype;									
										padding: 4px;										
									}
									&.fa-google-plus{
										background-color: $googlePlus;									
										padding: 8px 4px 7px 4px;
										font-size: 18px;
									}									
								}
							}							
						}
					}
				}
			}			
			dl{
				margin-top: 20px;
    			margin-bottom: 0;
				dt{
					font-size: 18px;
					text-transform: uppercase;
					i{
						color: $black;
						transform: scale(1.2);
						margin-right: 7px;
					}
				}
			}
		}

		.sobre_o_produto{
			margin-bottom: 2%;
			h2{
				border-top: 1px solid $grey;
				margin: 0;
				padding: 1% 0 3% 0;
				color: $black;
			}
			.description{
				margin-top: 3%;
				width: 100%;
				margin: 0 auto;
				ul{
					li{
						&.instrucoes{
							i{
								margin-right: 2px;
							}
						}						
						a{
							color: $black;
						}
					}
				}
				.tab-content{
					.tab-pane{
						padding: 1% 5px;
						&.caracteristicas{
							h4{
								padding: 0 1%;	
							}
							p{
								padding: 0.5% 1%;
								margin: 0;
								&:nth-child(1), &:nth-child(3), &:nth-child(5), &:nth-child(7), &:nth-child(9),
								&:nth-child(11), &:nth-child(13), &:nth-child(15), &:nth-child(17), &:nth-child(19)
								&:nth-child(21), &:nth-child(23), &:nth-child(25), &:nth-child(27), &:nth-child(29){
									background-color: $grey;
								}

								&:nth-child(2){
									/*margin-bottom: 2%;*/
								}
							}						
						}
					}
				}
			}
		}

		.produtos_relacionados{
			.title{
				margin-bottom: 4%;
			}
			.container{
				.woocommerce.columns-4{
					padding: 0;
					ul.products{
						div{
							&:nth-child(1){
								padding-left:0 !important;
							}
							&:nth-child(4){
								padding-right:0 !important;
							}					
						}
					}
				}
			}
		}			
	}
}

.comments_area{
	.container{
		.row{
			h3{
				margin-bottom: 2%;
			}
			#respond{
				h3{
					margin-bottom: 3%;

					&#reply-title{
						display: none;
					}
				}
				p{
					&.must-log-in{
						a{
							color: $white;
							font-weight: bold;
							padding: 0.4% 1%;					
							background-color: $blue;
							border-radius: 4px;

							&:hover{
								background-color: $black;
								transition: all 0.7s ease;
							}
						}
					}
				}
				#commentform{
					.logged-in-as{
						a{
							color: $black;
						}
					}
					.comment-form-comment{
						label{
							display: none;
						}
						textarea{
							border-radius: 6px;
							width: 40%;
						}
					}
					.form-submit{
						input{
							padding: 0.5% 2%;
							background-color: $blue;
							border-color: $none;
							border-radius: 6px;
							color: $white;

							&:hover{
								background-color: $black;
								transition: all 0.7s ease;
							}
						}
					}
				}
			}
			&.avaliacoes{
				h3{
					margin-bottom: 5px;
				}
				h2{
					&.woocommerce-Reviews-title{
						font-size: 13pt;
						margin-top: 0;
						margin-bottom: 5%;
					}
				}
				ol.commentlist{
					li.comment {
						padding-top: 3%;
						padding-bottom: 3%;
						border-top: 1px solid $black;

						&:last-child{
							border-bottom: 1px solid $black;							
						}
						.comment_container{
							img{
								display: inline-block;
							}
							.comment-text{
								display: inline-block;
								padding-left: 2%;
							}
						}
					}
				}
			}
		}
	}
}

.produtos-highlight{
	background: #fff;
	width: 100%;
	.row{
		margin: 0 -10px;
		.col-md-3{
			padding: 0 10px;
		}
	}
	h2 {
		background: $black;
		color: #fff;
		font-size: 36px;
		font-weight: 600;
		margin: 0 0 20px;
		padding: 30px;
		text-align: center;
		@media(max-width:767px){
			font-size: 28px;
		}
	}

	@media (min-width: 990px) {
		dl{
			dt{
				a{
					span{
						img{
							max-width: 70%;
						}
					}
				}
			}
		}
	}
	@media (max-width: 1400px) {
		dl{
			dt{
				margin-bottom: 20px;
			}
			dd{
				h3 {
					font-size: 24px;
					line-height: 20px;
					span {
						font-size: 13px;
						font-weight: normal;
						padding-top: 5px;
					}
				}
				p {
					font-size: 14px;
					line-height: 20px;
					margin: 0 0 20px;
				}
				a.btn-block {
					font-size: 15px;
					padding: 10px 25px;
				}
			}
		}
	}
	@media (min-width: 768px) {
		dl{
			dt{
				a{
					span{
						img{
							max-width: 50%;
						}
					}
				}
			}
		}
	}
}

#modal-produto.modal{
	.modal-dialog{
		max-width: 800px;
		width: 100%;
		.modal-body{
			padding: 30px;
			figure{
				display: block;
				text-align: center;
				img{
					width: 100%;
				}
			}
			h2.modal-title{
				color: #000;
				font-size: 26px;
				font-weight: bold;
				line-height: normal;
				margin: 0 0 20px;
				span{
					display: block;
					font-family: $source;
					font-size: 14px;
					font-weight: normal;
				}
			}
			.variations{
				margin-bottom: 20px;
				width: 100%;
				td.label{
					border-radius: 0;
					color: $black;
					display: block;
					font-size: 16px;
					font-weight: bold;
					line-height: normal;
					padding: 12px 10px 0 0;
					text-align: inherit;
					text-transform: uppercase;
					vertical-align: top;
					label{
						margin: 0;
					}
				}
				td.value{
					display: block;
					padding: 0;
					select{
						background-color: #fff;
						background-image: none;
						border-radius: 4px;
						border: 1px solid #ccc;
						color: #555;
						font-family: $source;
						font-size: 14px;
						height: 34px;
						line-height: 1.42857143;
						padding: 6px 12px;
						width: 100%;
					}
					.reset_variations{
						display: none !important;
					}
				}
			}
			.single_variation_wrap{
				.woocommerce-variation{
					.woocommerce-variation-availability{
						display: none;
					}
					.woocommerce-variation-description{
						p{
							background: $black;
							color: #fff;
							font-family: $source;
							font-size: 14px;
							font-weight: bold;
							line-height: normal;
							margin: 0 0 20px;
							padding: 15px;
							text-align: center;
						}
					}
				}
				.woocommerce-variation-add-to-cart.variations_button{
					.quantity-select{
						float: left;
						padding-right: 20px;
						width: 20%;
						select{
							height: 45px;
							text-align: center;
						}
					}
					button.single_add_to_cart_button{
						background: $black;
						color: #fff;
						float: left;
						padding: 15px 20px;
						text-align: center;
						text-transform: uppercase;
						width: 80%;
					}
				}
				overflow: hidden;
			}
			.helper-link{
				border-top: 1px solid #ccc;
				padding-top: 20px;
				margin-top: 20px;
				a{
					color: $black;
					font-family: $source;
					font-size: 14px;
					display: block;
					margin: 0 0 10px;
				}
			}
		}
	}
}

.align-animate {
    width: 100%;
    position: relative;        
    min-height: 570px;
    margin-bottom: 3%;
    
    .ajuda_align {
        position: relative;
        width: 33%;
        height: 300px;
        float: left;
    }        

    .align {
        position: relative;
        width: 100%;
        height: 100%;

        .pivot {
            left: 50%;
            bottom: 0;
        }            
    }
    .align_texto_animate { 
        position: absolute;
        width: 68%;
        bottom: 2%;
        left: 0;
        height: 2px;

        .title_anime {
            font-family: 'Oswald', sans-serif;
            font-weight: bold;
            color: #533074;
            line-height: 28px;
            font-size: 22pt;
        }    

        .cont {
            font-family: 'Muli', sans-serif;
            font-weight: bold;
            font-size: 11pt;
            margin-top: 8%;
        }                    
    }        
}

.section-como-funciona {
	h3 {
		color: #4e3b88;
	    font-size: 40px;
	    font-weight: bold;
	    margin: 0 0 10px;
	    text-align: left;
	}
	p {
		font-size: 16px;
		font-family: 'Muli', sans-serif;
		font-weight: bold;
	}
}

.img-circulares {
	width: 65%;
}

.spray {
	.nav-highlight {
		li {
			@media(max-width:768px){
				margin-left: 0px !important;
				margin-right: 15px;
				margin-bottom: 10px;
			}
		}
		ol {
			@media(max-width:768px){
				float: none !important;
				text-align: center;
			}
		}
	}
}