/* ​* *​ *​ *​ *​ *​ * ​* */
/*​                 ​*/
/*​   Singlepost    ​*/
/*​                 ​*/
/*​ ​* *​ *​ *​ *​ *​ * * */

html.open-modal-single-post{
	overflow: hidden;
	body{
		overflow: hidden;
	}
}

#singlepost{
	background: #fff;
	display: none;
	height: 100%;
	left: 0;
	overflow: auto;
	padding: 172px 20px 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
	@media (max-width: 768px) {
		padding-top: 70px;
	}
}

.singlepost {
    background: #ededed;
    .nav-bar {
    	background: #dadada;
    	display: table;
    	width: 100%;
    	.row{
    		display: table-row;
    		> div{
				display: table-cell;
				float:none;
				vertical-align: middle;
    		}
    	}
    	.single-close {
			background: #dbfb02;
			border: none;
			display: block;
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 80px;

			.effect {
				position: relative;
				width: 30px;
				cursor: pointer;
				margin: auto;
				.inner {
					text-align: center;
					width: inherit;
					&:before,
					&:after {
						background: #523074;
						border-radius: 3px;
						content: '';
						height: 4px;
						left: 0px;
						position: absolute;
						transition: all .2s ease-in;
						width: inherit;
					}
					&:before {
						top: 50%; 
						transform: translateY(-50%) rotate(45deg);  
					}
					&:after {  
						bottom: 50%;
						transform: translateY(50%) rotate(-45deg);  
					}
					label { 
						color: #222;
						cursor: pointer;
						font-size: 9px; 
						line-height: 25px;
						margin: 0px;
						opacity: 0;
						text-transform: uppercase;
						transition: all .2s ease-in;
					}
				}
			}

			&:hover{
				.effect{
					.inner{
						&:before,
						&:after {
							transform: rotate(0);
						}
						&:before {
						    top: 0;
						}

						&:after {
						    bottom: 0;
						}
						label {
							opacity: 1;
						}
					}
				}
			}
    	}
    	.single-date {
			font-size: 18px;
			font-weight: 100;
			margin: 0;
			padding-left: 80px;
			text-align: center;
			i {
				color: $black;
				display: inline-block;
				font-size: 20px;
				margin-right: 5px;
			}
    	}
    	.single-title {
    		padding: 20px 0;
			h5 {
				color: $black;
				font-size: 14px;
				font-weight: bold;
				margin: 0 0 5px;
				text-transform: uppercase;
				a{
					color: $black;
				}
			}
			h1 {
				font-size: 22px;
				margin: 0;
				line-height: normal;
			}
    	}
    	.single-social 
    	{
			float: right;
			padding-right: 50px;
		    span {
		    	color: $black;
		    	font-size: 15px;
		    	display: block;
		    	margin-bottom: 5px;
		    }
			a {
				border-radius: 50%;
				border: 2px solid $black;
				color: $black;
				display: inline-block;
				font-size: 16px;
				height: 30px;
				line-height: 26px;
				margin-right: 5px;
				text-align: center;
				width: 30px;
			    &.fa-facebook {
				    &:hover{
						background-color: #3c5a9a;
						border-color: #3c5a9a;
				    }								    						
			    }
			    &.fa-twitter {
			    	&:hover {								    		
						background-color: #00acee;
						border-color: #00acee;								
			    	}								    	
			    }

			    &.fa-google {
			    	&:hover {								    		
						background-color: #dd503f;		
						border-color: #dd503f;
			    	}								    	
			    }
			    &.fa-pinterest {
			    	&:hover {
						background-color: #cb2f39;	
						border-color: #cb2f39;
			    	}								    	
			    }					
			    &.fa-envelope {
			    	&:hover {								    		
						background-color: #222222;	
						border-color: #222222;
			    	}			    	
			    }
			    &:hover{
			    	color: #fff;
			    	transform: translateY(-10%);
			    }
			}

			@media (min-width: 850px) and (max-width: 1050px) and (orientation: landscape)
			{
				padding-right: 100px;
			}
    	}
    }
    .single-content {
    	padding: 20px;

		.single-post-image-hightlight{
			margin-bottom: 20px;
			img {
				height: auto;
				width: 100%;
			}
		}
		.single-post-content {
			border-bottom: solid #b5b5b5 1px;
			padding-bottom: 30px;
			margin-bottom: 30px;
			p{
				font-size: 18px;
				line-height: 30px;
			}
			a{
				color: $black;
				text-decoration: underline;
				&:hover{
					text-decoration: none;
				}
			}
			* {
				font-family: $source;
			}
			img{
				height: auto;
				max-width: 100%;
			}
		}

		.single-tags {
			margin-bottom: 20px;
			i {
				color: $black;
				font-size: 16px;
				vertical-align: middle;
			}
			a {
				color: #808080;
				display: inline-block;
				font-family: $source;
				font-size: 12px;
				margin-left: 15px;
				text-transform: uppercase;
				&:hover{
					color: $black;
				}
			}
		}

		h2.title-comments{
			color: $black;
			font-size: 20px;
			margin: 0 0 20px;
			padding-top: 30px;
		}
		
    }
    @media (max-width: 992px) {
    	.nav-bar {
	    	background: #dadada;
	    	display: block;
	    	width: 100%;
	    	padding: 15px;
	    	.row{
	    		display: block;
	    		> div{
					display: block;
					float: none;
					vertical-align: middle;
					text-align: center;
					width: 100%;
	    		}
	    	}
	    	.single-social{
	    		float: none;
	    		display: inline-block;
	    		margin: 0;
	    		padding: 0;
	    	}
	    	.single-close {
				height: 60px;
				top: -15px;
				width: 60px;
	    	}
		    .single-date {
				font-size: 18px;
				padding: 0;
	    	}
	    	.single-title {
				h5 {
					font-size: 12px;
					margin-top: 4%;
				}
				h1 {
					font-size: 28px;
				}
	    	}
	    }
    }

    @media (max-width: 768px) {
    	.single-date {
			font-size: 16px;
			padding: 0;
    	}
    	.single-title {
			h1 {
				font-size: 24px;
			}
    	}
    }

     @media (max-width: 480px) {
    	.single-title {
			h1 {
				font-size: 22px;
			}
    	}
    	.single-content {
    		.single-post-content {
				p{
					font-size: 14px;
					line-height: 24px;
				}
			}
    	}
    }
}