
/*Cores do site*/

$none : transparent;
$black : #2c2828;
$dourado : #d9b878;
$blue : #1e77bf;
$grey : #e5e5e5;
$grey2  :  #222222;
$grey3 : #bdbdbd;
$grey4 : #a3a3a3;
$green : #dbfb02;
$white : #fff;
$yellow : #fec73c;
$face : #3b5998;
$skype : #1da1f2;
$googlePlus : #db4437;
$whats : #1a9f10;
$red : #e60014;

$source: 'Source Sans Pro', sans-serif;
$oswald: 'Oswald', sans-serif;