.carrinho{
	margin-top: 1%;
}

.carrinho section.shipping-calculator-form{
display: block !important;
}

.carrinho .cart_totals{
	width: 100% !important;
}

section.page-default.container h1.title{
	text-align: left !important;
}

.mais_produtos {
    padding: 4% 5%;
    background-color: #e5e5e5;
    border-radius: 3px;
    font-weight: bold;
    float: left;
}

.cart_totals{
	background-color: #e5e5e5;
	padding: 0 4%;
	margin-bottom: 4%;
}

tr.order-total th, tr.order-total td strong span{
	color: #e60014 !important;
}

.cart_totals h2{
	color: #e60014 !important;
}

.carrinho input#coupon_code {
    width: 45%;
}

.mais_produtos.baixo{
	padding: 2% 3%;
}

.finalizar_compra.checkout-button.button.alt.wc-forward{
    padding: 5% 18%;
    background-color: #e60014;
    border-radius: 3px;
    font-weight: bold;
    color: #fff !important;
    float: right;
}

.carrinho a.checkout-button.button.alt.wc-forward{
    padding: 4% 13%;
    background-color: #e60014;
    border-radius: 3px;
    font-weight: bold;
    color: #fff !important;
    float: right;
    margin-right: 3%;
}